a:link {
  text-decoration: none;
  color:#777777;

}

a:visited {
  color:#777777;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration:none;
} 



body{
  background-color: rgb(204, 196, 196);
  
}

.container {
  margin: 0 auto;
  margin-top: 0px;
  width: 960px;
  color:#777777;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  font-size: 1.25em;
}

.menu{
  text-align: right;
  margin-top: -35px;
  margin-left: 100px;

}



h1{
   color:#4aaaa5;
   font-family: 'Georgia', Times, Times New Roman, serif;
}

img {
  float: left;
  margin-right: 10px;
  clear:both;
}
p {
  text-align: justify;
  margin-left: 0px;
  overflow:auto;
  display:block;

}

header {
  background-color:#4aaaa5 ;
  color:#ffffff;
  text-align: left;
  font-size: 1.95em;
  width: 210px;
  height:60px;
  padding: 5px;
  border: 0px solid white;
}


main {
  background-color:#ffffff;
  margin-top: 30px;
  width: 960px;
  height: 650px;
  padding: 10px;
  border: 1px solid #ffffff ;
}


footer {
  text-align: center;
  background-color: #666666;
  width: 960px;
  height: 70px;
  margin-top: 20px;
  padding: 10px;
  border: 0px solid white;
  border-top: 4px solid #4aaaa5;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4aaaa5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  #msg{
  height: 200px;
  }

}

